django
djangorestframework
djangorestframework-simplejwt
django-filter
django-extensions
django-cors-headers
gunicorn
whitenoise
python-dotenv
pytz
requests
redis
yt-dlp
ffmpeg-python
django-rq
yt-dlp-ejs